.fs {
    background: #F0EFEB;
    display: flex;
    flex: 1 1 50%; }
  
  .fs-row {
    display: flex;
    padding-top: 90px;
 }
  
  .fs_title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
    min-width: 530px;
    }
  
  .fs_discr {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px; }
  
  .button {
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    max-width: 129px;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 8px 23px;
    font-family: 'Roboto'; }

  
  .ss-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; }
  
  .ss_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px; }
  
  .ss_subtitle {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 47px;
    max-width: 632px; }

    .ss_avalible{
    margin-bottom: 88px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    }
    .ss_sell{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    }
    .ss_best-sellers{
        display: flex;
        flex-wrap: wrap;
        padding-top: 52px;
        padding-bottom: 240px;
        justify-content: space-between;
    }

    .ss_best-seller{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ss_img{
        margin-bottom: 27px;
    }
    .ss_text1{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    max-width: 156px;
    margin: 0 auto 17px auto;
    }
    .ss_text2{
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 4px;
    }
    .ss_link{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    }
    .ts{
        background: rgba(204, 204, 204, 0.3);
        padding-top: 56px;
        padding-bottom: 50px;
    }
    .ts-row{
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    }
    .sect_text{   
        margin-left: 50px;
        padding-top: 90px;
    }
    .sect_title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
    }
    .sect_subtitle{
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    max-width: 498px;
    margin-bottom: 40px;
    }
    .sect_link{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
    }
    .fourth{
    background: rgba(204, 204, 204, 0.6);
    padding: 76px 0 51px 0;
    }
    .fourth-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
    }
    .fourth_text{
    display: flex;
    flex-direction: column;
    text-align: end;
    margin: 0;
    margin-right: 50px;
    }
    
    .fifth{
    background: rgba(204, 204, 204, 0.3);
    padding: 76px 0 51px 0;
    }

    .fifth-row{
        display: flex;
        flex-wrap: wrap;
    }
    .fifth_sub{
        max-width: 530px;
    }
    .sixth-row{
        padding-top: 190px;
        padding-bottom: 102px;

    }
    .sixth_features{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    max-width: 450px;
    margin: 0 auto 70px auto;
    }
    .sixth_guides {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-template-rows:repeat(2, 1fr) ;
    row-gap: 110px;
    column-gap: 24px;
    margin-bottom: 164px;
    
    }
    .sixth_content{
        max-width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sixth_circle{
    height: 70px;
    width: 70px;
    border-radius: 35px;
    margin-bottom: 26px;
    }
    .color1{
    background: #21F7EC;
    }
    .color2{
    background: #33D3BC;
    }
    .color3{
    background: #18A5C6;
    }
    .color4{
    background: #D38F62;
    }
    .color5{
        background: #F94C43;
    }
    .color6{
    background: #D399FF;
    }
    .sixth_text{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    max-width: 220px;
    }

    .sixth_Thalbytitle{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    max-width: 705px;
    margin: 0 auto;
    }
    .sixth_Guids{
        // position: relative;
        // bottom: 175px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .sixth_people{
        max-width: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }
    .sixth_photo{
    margin-bottom: 35px;
    }
    .sixth_quote{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #000000;
    max-width: 248px;
    margin-bottom: 40px;
    }
    .sixth_data{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 44px;
    }
    .section_background {
    // height: 480px;
    padding-bottom: 52px;
    background: linear-gradient(to bottom,#FFFFFF 29%,#F0F0F0 29%,#F0F0F0 71%);
    // background: #F0F0F0;
    }
    .seventh-row{
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        // align-items: center;

    }
    .seventh_title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
    }
    .seventh_subtitle{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    max-width: 496px;
    margin: 0 auto 26px auto;
    }
    .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .forms_row{
        margin-bottom: 16px;
    }
    .input{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
   }
   .link_ss{
       color:white;
   }
   