footer.footer-top
    .container
        .footer_row
            .footer_img
                .footer_logo
                    img(src="./assets/imgs/footerlogo.svg", alt="Logo")
                .footer_social
                    a(href="#") 
                        img.social(src="./assets/imgs/footerfacebook.png", alt="Facebook")
                    a(href="#")
                        img.social(src="./assets/imgs/footerInst.png", alt="Facebook")
                    a(href="#")
                        img.social(src="./assets/imgs/footerTw.png", alt="Facebook")
            .footer_inf
                .footer_about
                    p.about
                        a.footer_item(href="#") ABOUT 
                    ul.footer__list
                        li.footer__link 
                        a.footer_item(href="#") About Us
                        li.footer__link
                        a.footer_item(href="#") Terms and Conditions
                        li.footer__link
                        a.footer_item(href="#") Write for Us
                .footer_contact 
                    p.contact
                        a.footer_item(href="#")  CONTACT
                    ul.footer__list
                        li.footer__link 
                        a.footer_item(href="#") Email hi@thalby.com
                        li.footer__link
                        a.footer_item(href="#") Help 
        .footer_Thalby
            p.footer_year Thalby LLC © 2021

        
            