header.header
    .container
        .header-row
            .header_menu 
                ul.header__nav
                    li.header__link
                     a.header_item(href="#") Shop
                    li.header__link 
                     a.header_item(href="#") Collections
                    li.header__link
                     a.header_item(href="#") Try a Free Guide
                    li.header__link
                     a.header_item(href="#") Stories
            .header_logo
                img.logo(src="./assets/imgs/menuP.png", alt="logo")
            .header_icon
                img.icon(src="./assets/imgs/Inst.svg", alt="inst")
                img.icon(src="./assets/imgs/2.png", alt="second")
                img.icon(src="./assets/imgs/3.png", alt="third")