section.fs
    .container
        .fs 
        .fs-row
            .fs_text
                .fs_title Fall deeper in love with humanity
                .fs_discr Get to know the world through our concise, informative and inspiring guides.
                button.button Shop Now
            .fs_imgs
                img(src="./assets/imgs/fs_imgs.png", alt="funny")
section.ss
    .container
        .ss-row
            .ss_title Our guides explain countries and cultures.
            .ss_subtitle Are you curious about the world around you? Our guides are for smart global citizens, world travelers and engaged residents who want to gain a deeper understanding of the cultures and societies they care about.
            .ss_avalible Available as ebooks here and on Amazon.
            .ss_sell Our best sellers
        .ss_best-sellers
            .ss_best-seller
                img(src="./assets/imgs/1bestseller.png", alt="Heritage")
                p.ss_text1 Thalby Guide to French Culture and Heritage
                p.ss_text2 USD 6.99
                a.ss_link Add to cart
            .ss_best-seller
                    img(src="./assets/imgs/2bestseller.png", alt="Heritage")
                    p.ss_text1 Thalby Guide to French People and Society
                    p.ss_text2 USD 6.99
                    a.ss_link Add to cart
            .ss_best-seller
                    img(src="./assets/imgs/3bestseller.png", alt="Heritage")
                    p.ss_text1 Thalby Guide to German Culture and Heritage
                    p.ss_text2 USD 6.99
                    a.ss_link Add to cart



        