section.fs
    .container
        .fs 
        .fs-row
            .fs_text
                .fs_title Fall deeper in love with <br> humanity
                .fs_discr Get to know the world through our concise, informative and inspiring guides.
                button.button Shop Now
            .fs_imgs
                img(src="./assets/imgs/fs_imgs.png", alt="funny")
section.ss
    .container
        .ss-row
            .ss_title Our guides explain countries and cultures.
            .ss_subtitle Are you curious about the world around you? Our guides are for smart global citizens, world travelers and engaged residents who want to gain a deeper understanding of the cultures and societies they care about.
            .ss_avalible Available as ebooks here and on Amazon.
            .ss_sell Our best sellers
        .ss_best-sellers
            .ss_best-seller
                img.ss_img(src="./assets/imgs/1bestseller.png", alt="Heritage")
                p.ss_text1 Thalby Guide to French Culture and Heritage
                p.ss_text2 USD 6.99
                a.ss_link(href="#") Add to cart
            .ss_best-seller
                    img.ss_img(src="./assets/imgs/2bestseller.png", alt="Heritage")
                    p.ss_text1 Thalby Guide to French People and Society
                    p.ss_text2 USD 6.99
                    a.ss_link(href="#") Add to cart
            .ss_best-seller
                    img.ss_img(src="./assets/imgs/3bestseller.png", alt="Heritage")
                    p.ss_text1 Thalby Guide to German Culture and Heritage
                    p.ss_text2 USD 6.99
                    a.ss_link(href="#") Add to cart
section.ts
    .container  
        .ts-row 
            img.ts_seller(src="./assets/imgs/tsimg.png", alt="seller")
            .sect_text 
                .sect_title People and Society
                .sect_subtitle Our guides to society deliver all the social insight you need, helping you understand how people live, love and play today and why communities are the way they are.
                a.sect_link(href="#") Shop Society Guides  
section.fourth
    .container 
        .fourth-row 
            img.fourth_seller(src="./assets/imgs/fsimg.png", alt="seller")
            .sect_text.fourth_text
                .sect_title.fourth_title Culture and Heritage
                .sect_subtitle.fourth_subtitle As well as covering heritage and tradition, our guides to culture introduce you to the designers, artists and chefs creating at the forefront of today's culture.
                a.sect_link(href="#") Shop Culture Guides
section.fifth
    .container  
        .fifth-row 
            img.sect_seller(src="./assets/imgs/fifthsecimg.png", alt="seller")
            .sect_text 
                .sect_title Power and Politics
                .sect_subtitle.fifth_sub Our guides to power take you behind the scenes to explore the power dynamics, policies and politics shaping a country's future and its global position.
                a.sect_link(href="#") Coming 2022!
section.sixth
    .container
        .sixth-row
            .sixth_features Some of the features that make Thalby guides unique
            .sixth_guides
                .sixth_content
                    .sixth_circle.color1
                    .sixth_text Written by locals
                .sixth_content
                    .sixth_circle.color2
                    .sixth_text Packed with insight
                .sixth_content
                    .sixth_circle.color3
                    .sixth_text Interviews with diverse voices
                .sixth_content
                    .sixth_circle.color4
                    .sixth_text Key facts and etiquette tips
                .sixth_content
                    .sixth_circle.color5
                    .sixth_text A concise 1-hour read
                .sixth_content
                    .sixth_circle.color6
                    .sixth_text Instant digital access
            .sixth_Thalbytitle Each Thalby guide includes interviews with a range of fascinating voices, such as  
            //- .sixth_Guids
            //-     .sixth_people
            //-         img.sixth_photo(src="./assets/imgs/Guide1.png", alt="Camille Muller")
            //-         .sixth_quote "I don’t like things to be conventional. If it’s too nice, I bring disorder."
            //-         .sixth_data Camille Muller,<br>Landscape Designer, France
            //-         a.ss_link(href="#") Discover
            //-     .sixth_people
            //-         img.sixth_photo(src="./assets/imgs/Guide2.png", alt="Sonia Kowalewski")
            //-         .sixth_quote "Magic is not magic in the sense that I can just wish for anything."
            //-         .sixth_data Sonia Kowalewski,<br>Witch, Germany
            //-         a.ss_link(href="#") Discover
            //-     .sixth_people
            //-         img.sixth_photo(src="./assets/imgs/Guide3.png", alt="Camille Muller")
            //-         .sixth_quote "I was eight years old when I entered my first competition. I won it."
            //-         .sixth_data Lilly Stoephasius,<br>Skateboarder, Germany
            //-         a.ss_link(href="#") Discover
section.section_background
    .container
        .sixth_Guids
                    .sixth_people
                        img.sixth_photo(src="./assets/imgs/Guide1.png", alt="Camille Muller")
                        .sixth_quote "I don’t like things to be conventional. If it’s too nice, I bring disorder."
                        .sixth_data Camille Muller,<br>Landscape Designer, France
                        a.ss_link(href="#") Discover
                    .sixth_people
                        img.sixth_photo(src="./assets/imgs/Guide2.png", alt="Sonia Kowalewski")
                        .sixth_quote "Magic is not magic in the sense that I can just wish for anything."
                        .sixth_data Sonia Kowalewski,<br>Witch, Germany
                        a.ss_link(href="#") Discover
                    .sixth_people
                        img.sixth_photo(src="./assets/imgs/Guide3.png", alt="Camille Muller")
                        .sixth_quote "I was eight years old when I entered my first competition. I won it."
                        .sixth_data Lilly Stoephasius,<br>Skateboarder, Germany
                        a.ss_link(href="#") Discover

                         
            



